<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container w-50">
    <form th:method="post" th:action="@{/students/create}" th:object="${student}">
        <h1>Create student</h1>
        <div class="form-group">
            <label for="fname">First name: </label>
            <input class="form-control" id="fname" th:field="*{firstName}" type="text" required/>
        </div>
        <div class="form-group">
            <label for="lname">Last name: </label>
            <input class="form-control" id="lname" th:field="*{lastName}" type="text" required/>
        </div>
        <div class="form-group">
            <label for="dob">Date of birth: </label>
            <input class="form-control" id="dob" th:field="*{dateOfBirth}" type="date" required>
        </div>
        <div class="form-group">
            <label for="groupId">Group id: </label>
            <select class="form-control" id="groupId" th:name="groupId" required>
                <option th:each="groupId : ${groupIds}" th:value="${groupId}" th:text="${groupId}">
                </option>
            </select>
        </div>
        <br>
        <input type="submit" value="Create" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>
